@using SERTEKNIKAPP.COMMON.DTO
@model InfoDTO
<section class="zn_section eluid677e125b     section-sidemargins  znBoxShadow-3  zn_section--masked zn_section--relative section--no " id="eluid677e125b">
    <div class="zn_section_size container zn-section-height--auto zn-section-content_algn--top ">
        <div class="row ">
            <div class="eluidf2d44893 col-md-12 col-sm-12  znColumnElement" id="eluidf2d44893">
                <div class="znColumnElement-innerWrapper-eluidf2d44893 znColumnElement-innerWrapper znColumnElement-innerWrapper--valign-top znColumnElement-innerWrapper--halign-left ">
                    <div class="znColumnElement-innerContent">
                        <div class="kl-title-block clearfix tbk--text- tbk--center text-center tbk-symbol--  tbk-icon-pos--after-title eluid466c2a7a ">
                            <h3 class="tbk__title" itemprop="headline">
                                @Model.Title
                            </h3>
                            <h4 class="tbk__subtitle" itemprop="alternativeHeadline">
                                @Model.SmallText
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="eluid7db1476d  col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-md-8 col-sm-8 znColumnElement" id="eluid7db1476d">


                <div class="znColumnElement-innerWrapper-eluid7db1476d znColumnElement-innerWrapper znColumnElement-innerWrapper--valign-top znColumnElement-innerWrapper--halign-left ">

                    <div class="znColumnElement-innerContent">
                        <div class="kl-title-block clearfix tbk--text- tbk--center text-center tbk-symbol--  tbk-icon-pos--after-title eluid6c1b6d5a ">
                            <div class="tbk__text">
                                <h4>
                                    <span style="font-family: Montserrat;">
                                      @Model.Content
                                    </span>
                                </h4>
                            </div>
                        </div>
                        <div class="el-videobox eluid43d0a7d6  el-videobox-Type-player">
                            <div class="video-ext-wrapper fitvids-resize-wrapper">
                                <video class="" id="video-eluid43d0a7d6" width="100%" preload="metadata" autoplay="autoplay" loop="loop" controls="controls">
                                    <source type="video/mp4" src="@Model.URL">
                                </video>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>

    <div class="kl-mask kl-bottommask kl-mask--shadow_simple kl-mask--light"></div>
</section>