<section class="zn_section eluidb1ece391  round-corners   section-sidemargins    section--no " id="eluidb1ece391">


    <div class="zn_section_size container zn-section-height--auto zn-section-content_algn--top ">

        <div class="row ">

            <div class="eluid4e67e6a6            col-md-12 col-sm-12   znColumnElement" id="eluid4e67e6a6">


                <div class="znColumnElement-innerWrapper-eluid4e67e6a6 znColumnElement-innerWrapper znColumnElement-innerWrapper--valign-top znColumnElement-innerWrapper--halign-left ">

                    <div class="znColumnElement-innerContent">
                        <div class="kl-title-block clearfix tbk--text- tbk--center text-center tbk-symbol--  tbk-icon-pos--after-title eluid82cd7d7a ">
                            <h3 class="tbk__title" itemprop="headline">
                                TEKLİF İSTE
                            </h3>
                        </div>
                        <div class="zn_contact_form_container contactForm cf-elm eluide9a149b5  cf--light element-scheme--light  ">
                            <form action="#" id="form_eluide9a149b5" method="post" class="zn_contact_form contact_form cf-elm-form row " data-redirect="">
                                <div class="col-sm-6  kl-fancy-form zn_form_field zn_cf_text">
                                    <input type="text" name="zn_form_field_ad_soyadi1_0" id="zn_form_field_ad_soyadi1_0" placeholder="Lütfen adınızı yazınız..." value="" class="zn_form_input zn-field-text form-control  kl-fancy-form-input zn_validate_not_empty ">
                                    <label for="zn_form_field_ad_soyadi1_0" class="control-label kl-font-alt kl-fancy-form-label">
                                        AD SOYADI

                                    </label>
                                </div>
                                <div class="col-sm-6  kl-fancy-form zn_form_field zn_cf_text">
                                    <input type="text" name="zn_form_field_firma_adi1_1" id="zn_form_field_firma_adi1_1" placeholder="Lüften firma adınızı yazınız..." value="" class="zn_form_input zn-field-text form-control  kl-fancy-form-input zn_validate_not_empty ">
                                    <label for="zn_form_field_firma_adi1_1" class="control-label kl-font-alt kl-fancy-form-label">
                                        FİRMA ADI
                                    </label>
                                </div>
                                <div class="col-sm-6  kl-fancy-form zn_form_field zn_cf_text">
                                    <input type="text" name="zn_form_field_e_mail1_2" id="zn_form_field_e_mail1_2" placeholder="Lütfen e posta adresinizi yazınız..." value="" class="zn_form_input zn-field-text form-control  kl-fancy-form-input zn_validate_not_empty ">
                                    <label for="zn_form_field_e_mail1_2" class="control-label kl-font-alt kl-fancy-form-label">
                                        E-MAİL
                                    </label>
                                </div>
                                <div class="col-sm-6  kl-fancy-form zn_form_field zn_cf_text">
                                    <input type="text" name="zn_form_field_tel1_3" id="zn_form_field_tel1_3" placeholder="Lütfen telefon numaranızı yazınız..." value="" class="zn_form_input zn-field-text form-control  kl-fancy-form-input zn_validate_not_empty ">
                                    <label for="zn_form_field_tel1_3" class="control-label kl-font-alt kl-fancy-form-label">
                                        TEL

                                    </label>
                                </div>
                                <div class="col-sm-12  kl-fancy-form zn_form_field zn_cf_text">
                                    <input type="text" name="zn_form_field_proje_adi1_4" id="zn_form_field_proje_adi1_4" placeholder="Lütfen proje adını yazınız..." value="" class="zn_form_input zn-field-text form-control  kl-fancy-form-input zn_validate_not_empty ">
                                    <label for="zn_form_field_proje_adi1_4" class="control-label kl-font-alt kl-fancy-form-label">
                                        PROJE ADI
                                    </label>
                                </div>
                                <div class="col-sm-12  kl-fancy-form zn_form_field zn_cf_textarea">
                                    <textarea name="zn_form_field_mesaj1_5" class="zn_form_input form-control  kl-fancy-form-textarea zn_validate_not_empty " id="zn_form_field_mesaj1_5" placeholder="Lütfen mesajınız yazınız..." cols="40" rows="6">

                                                </textarea><label for="zn_form_field_mesaj1_5" class="control-label kl-font-alt kl-fancy-form-label">
                                        MESAJ
                                    </label>
                                </div><div class="col-sm-12  kl-fancy-form zn_form_field zn_cf_captcha">
                                    <span class="kl-recaptcha" data-colorscheme="light" data-sitekey="6LeVO-UUAAAAAKAk1fhgH_ePd7fOTJzMy_7Huno5" id="zn_recaptcha_1">
                                        <div style="width: 304px; height: 78px;">
                                            <div>
                                                <iframe title="reCAPTCHA" width="304" height="78" role="presentation" name="a-umxyzgncgge6" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox allow-storage-access-by-user-activation" src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LeVO-UUAAAAAKAk1fhgH_ePd7fOTJzMy_7kHuno5&amp;co=aHR0cHM6Ly93d3cueW9ya3RyLmNvbTo0NDM.&amp;hl=en&amp;v=rKbTvxTxwcw5VqzrtN-ICwWt&amp;theme=light&amp;size=normal&amp;cb=yzh4y9drry3m">
                                                </iframe>
                                            </div>
<textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;">

</textarea>
                                        </div>
                                        <iframe style="display: none;">
                                        </iframe>
                                    </span>
                                </div>
                                <div class="col-sm-12  kl-fancy-form zn_form_field zn_cf_hidden">
                                    <input type="hidden" name="zn_pb_form_submit_1" id="zn_pb_form_submit_1" value="1" class="zn_form_input zn_validate_none">
                                </div>
                                <div class="col-sm-12">
                                    <div class="zn_contact_ajax_response titleColor" id="zn_form_id1">
                                    </div>
                                    <div class="zn_submit_container text-left">
                                        <button class="zn_contact_submit btn btn-fullcolor btn--rounded  " type="submit">
                                            GÖNDER
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>


            </div>

        </div>
    </div>

</section>