@using SERTEKNIKAPP.COMMON.DTO
@model List<ServiceDTO>

<section class="zn_section eluidabf007b1     section-sidemargins    zn_section--masked zn_section--relative section--no " id="eluidabf007b1">

    <div class="zn-bgSource "><div class="zn-bgSource-overlay" style="background: -webkit-linear-gradient(top,  rgba(245,245,245,1) 0%,rgba(255,255,255,1) 100%); background: linear-gradient(to bottom,  rgba(245,245,245,1) 0%,rgba(255,255,255,1) 100%); "></div></div>
    <div class="zn_section_size container zn-section-height--auto zn-section-content_algn--top ">

        <div class="row ">
            <div class="eluida1ef1fc2            col-md-12 col-sm-12   znColumnElement" id="eluida1ef1fc2">
                <div class="znColumnElement-innerWrapper-eluida1ef1fc2 znColumnElement-innerWrapper znColumnElement-innerWrapper--valign-top znColumnElement-innerWrapper--halign-left ">
                    <div class="znColumnElement-innerContent">
                        <div class="prt-hover-fadeout ph-eluid1cff7663">
                            <div class="kl-title-block clearfix tbk--text- tbk--center text-center tbk-symbol--line_border  tbk-icon-pos--left-title eluid1cff7663 ">
                                <h3 class="tbk__title" itemprop="headline">
                                    Hizmetlerimiz
                                </h3>
                                <span class="tbk__symbol ">
                                    <span>
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="kl-title-block clearfix tbk--text- tbk--left text-left tbk-symbol--icon tbk--colored tbk-icon-pos--left-title eluiddd6dfcc7 ">
                        </div>
                    </div>
                </div>


            </div>

            @foreach (var item in Model)
            {
                <div class="eluid47ab7755 col-md-4 col-sm-4   znColumnElement">
                    <div class="znColumnElement-innerWrapper-eluid47ab7755 znColumnElement-innerWrapper znColumnElement-innerWrapper--valign-top znColumnElement-innerWrapper--halign-left ">
                        <div class="znColumnElement-innerContent">
                            <div class="services_box eluid0b22b301  servicebox-sch--light element-scheme--light services_box--boxed sb--hasicon">
                                <div class="services_box__inner clearfix">
                                    <div class="services_box__icon">
                                        <div class="services_box__icon-inner">
                                            <span data-zniconfam="glyphicons_halflingsregular" data-zn_icon="" class="@item.Icon service-icon">
                                            </span>
                                        </div>
                                    </div>
                                    <div class="services_box__content">
                                        <h4 class="services_box__title element-scheme__hdg1 " itemprop="headline">
                                            @item.Title
                                        </h4>
                                        <div class="services_box__desc">
                                            <p>
                                                @item.Content

                                            </p>
                                        </div>
                                        <div class="services_box__list-wrapper">
                                            <span class="services_box__list-bg">

                                            </span>
                                            <ul class="services_box__list" style="padding-top: 209px;">
                                                <li class="text-custom">
                                                    <span class="services_box__list-text">

                                                    </span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- end box -->
                            </div>
                        </div>
                    </div>


                </div>
            }
        </div>
    </div>

    <div class="kl-mask kl-bottommask kl-mask--mask3 kl-mask--light">
        <svg width="5000px" height="57px" class="svgmask " viewBox="0 0 5000 57" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs>
                <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-mask3">
                    <feOffset dx="0" dy="3" in="SourceAlpha" result="shadowOffsetInner1"></feOffset>
                    <feGaussianBlur stdDeviation="2" in="shadowOffsetInner1" result="shadowBlurInner1"></feGaussianBlur>
                    <feComposite in="shadowBlurInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
                    <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.4 0" in="shadowInnerInner1" type="matrix" result="shadowMatrixInner1"></feColorMatrix>
                    <feMerge>
                        <feMergeNode in="SourceGraphic"></feMergeNode>
                        <feMergeNode in="shadowMatrixInner1"></feMergeNode>
                    </feMerge>
                </filter>
            </defs>
            <path d="M9.09383679e-13,57.0005249 L9.09383679e-13,34.0075249 L2418,34.0075249 L2434,34.0075249 C2434,34.0075249 2441.89,33.2585249 2448,31.0245249 C2454.11,28.7905249 2479,11.0005249 2479,11.0005249 L2492,2.00052487 C2492,2.00052487 2495.121,-0.0374751261 2500,0.000524873861 C2505.267,-0.0294751261 2508,2.00052487 2508,2.00052487 L2521,11.0005249 C2521,11.0005249 2545.89,28.7905249 2552,31.0245249 C2558.11,33.2585249 2566,34.0075249 2566,34.0075249 L2582,34.0075249 L5000,34.0075249 L5000,57.0005249 L2500,57.0005249 L1148,57.0005249 L9.09383679e-13,57.0005249 Z" class="bmask-bgfill" filter="url(#filter-mask3)" fill="#f5f5f5" style="fill:"></path>
        </svg>
        <i class="glyphicon glyphicon-chevron-down"></i>
    </div>
</section>