@using SERTEKNIKAPP.COMMON.DTO
@model List<PortfoyCategoryDTO>


<div class="zn_pb_wrapper clearfix zn_sortable_content" data-droplevel="0">
    <div id="page_header" class="page-subheader maskcontainer--mask5 page-subheader--custom site-subheader-cst uh_zn_def_header_style eluid240ef756 psubhead-stheader--absolute sh-titles--left sh-tcolor--light">
        <div class="bgback"></div>
        <div class="th-sparkles"></div>

        <!-- DEFAULT HEADER STYLE -->
        <div class="ph-content-wrap">
            <div class="ph-content-v-center">
                <div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="subheader-titles">
                                    <h2 class="subheader-maintitle" itemprop="headline">Portföy</h2>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->
                    </div>
                </div>
            </div>
        </div>
        <div class="kl-mask kl-bottommask kl-mask--mask5 kl-mask--light">
            <svg width="2700px" height="64px" class="svgmask" viewBox="0 0 2700 64" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs>
                    <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-mask5">
                        <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetInner1"></feOffset>
                        <feGaussianBlur stdDeviation="1.5" in="shadowOffsetInner1" result="shadowBlurInner1"></feGaussianBlur>
                        <feComposite in="shadowBlurInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
                        <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.45 0" in="shadowInnerInner1" type="matrix" result="shadowMatrixInner1"></feColorMatrix>
                        <feMerge>
                            <feMergeNode in="SourceGraphic"></feMergeNode>
                            <feMergeNode in="shadowMatrixInner1"></feMergeNode>
                        </feMerge>
                    </filter>
                </defs>
                <path d="M1892,0 L2119,44.993 L2701,45 L2701.133,63.993 L-0.16,63.993 L1.73847048e-12,45 L909,44.993 L1892,0 Z" class="bmask-bgfill" fill="#f5f5f5" filter="url(#filter-mask5)" style="fill:"></path>
                <path d="M2216,44.993 L2093,55 L1882,6 L995,62 L966,42 L1892,0 L2118,44.993 L2216,44.993 L2216,44.993 Z" fill="#cd2122" class="bmask-customfill" filter="url(#filter-mask5)"></path>
            </svg>
        </div>
    </div>
    <section class="zn_section eluidd8619d50 section-sidemargins section--no " id="eluidd8619d50">
        <div class="zn_section_size container zn-section-height--auto zn-section-content_algn--top ">
            <div class="row ">
                <div class="eluid12a98faf col-md-12 col-sm-12 znColumnElement" id="eluid12a98faf">
                    <div class="znColumnElement-innerWrapper-eluid12a98faf znColumnElement-innerWrapper znColumnElement-innerWrapper--valign-top znColumnElement-innerWrapper--halign-left ">
                        <div class="znColumnElement-innerContent">
                            <div class="elm-portfolio-archive eluid4ccd1aa7 ">
                                <div class="hg-portfolio-sortable kl-ptfsortable portfolio-sort--light element-scheme--light kl-ptfsortable-toolbar-left" data-sortby="name" data-sortdir="asc">
                                    <!-- sorting toolbar -->

                                    <ul id="portfolio-nav" class="ptf-stb-ptfnav kl-ptfsortable-nav kl-font-alt fixclear">
                                        <li class="kl-ptfsortable-nav-item current"><a class="kl-ptfsortable-nav-link" href="#" data-filter="*">TÜMÜ</a></li>
                                        @foreach (var item in Model)
                                        {
                                            var filterText = $".{item.Code}_sort";

                                            <li class="kl-ptfsortable-nav-item"><a class="kl-ptfsortable-nav-link" href="#" data-filter="@filterText">@item.Text</a></li>
                                        }
                                    </ul><!-- nav toolbar -->

                                    <div class="clearfix"></div>
                                    <ul id="thumbs" class="ptf-stb-thumbs kl-ptfsortable-items fixclear isotope-initialized" data-columns="4" data-layout-mode="masonry">
                                        @foreach (var item in Model.SelectMany(x => x.PortfoyList).ToList())
                                        {
                                            var filterText = $"{item.PortfoyCategoryCode}_sort";
                                            <li class="item kl-ptfsortable-item @filterText" data-date="1586696856">
                                                <div class="inner-item kl-ptfsortable-item-inner">
                                                    <div class="img-intro kl-ptfsortable-imgintro portfolio-item-overlay-imgintro"></div>
                                                    <h4 class="title kl-ptfsortable-item-title">
                                                        <span class="name">@item.Text</span>
                                                    </h4>
                                                    <div class="clear"></div>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                    <!-- end items list -->
                                </div><!-- end Portfolio page -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js"></script>
<script>
    $(document).ready(function () {
        // Isotope'u etkinleştirme
        var $portfolioItems = $('#thumbs').isotope({
            itemSelector: '.item',
            layoutMode: 'masonry'
        });

        // Kategori başlıklarına tıklama işlevi ekleme
        $('.kl-ptfsortable-nav-link').click(function (e) {
            e.preventDefault();
            var filterValue = $(this).attr('data-filter');
            // Filtreyi uygula ve yeniden düzenle
            $portfolioItems.isotope({ filter: filterValue });

            // 'current' sınıfını değiştir
            $('.kl-ptfsortable-nav-item').removeClass('current');
            $(this).parent().addClass('current');
        });
    });
</script>
